<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/authStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="main-content-login">
        <form id="forgotPasswordForm">
            <div class="forgotPasswordDiv">
                <h2>Forgot Password</h2>
                <label for="forgotEmail">Email *</label>
                <input type="email" id="forgotEmail" name="forgotEmail" required>
            </div>

            <button type="submit">Reset Password</button>
            <p><a href="/api/v1/auth/login" class="forgot-password">Back to Login</a></p> <!-- Link back to login -->
        </form>
    </div>
    <script src="/scripts/auth/forgotPasswordScript.js"></script>
</body>

</html>
